body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  text-align: center;
}

#streams-list {
  margin: 20px 0;
}

button {
  padding: 8px 14px;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background: #f44336;
  color: white;
  font-weight: bold;
}
